@model DFEitechLibrary.Models.Student
@{
    ViewBag.Title = "_StudentForm";
}
<h3>Student Creator</h3>
@using (Html.BeginForm("InsertStudent", "Student"))
{
    @Html.LabelFor(model => model.Id, "ID#")
    @Html.TextBoxFor(model => model.Id, new { style = "width: 60px;" })<br />

    @Html.LabelFor(model => model.NameL, "Last Name")
    @Html.TextBoxFor(model => model.NameL, new { style = "width: 150px;" })<br />

    @Html.LabelFor(model => model.NameF, "First Name")
    @Html.TextBoxFor(model => model.NameF, new { style = "width: 150px;" })<br />

    <input type="submit" class="btn btn-default" value="Search &raquo;" />
}

